div {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

i {
  position: relative;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

/* Container for flexboxes */
section {
    display: -webkit-flex;
    display: flex;
}

/* Style the content */
article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    position: relative;
    background-color: #f1f1f1;
    padding: 10px;
    -webkit-animation-name: example;  /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s;  /* Safari 4.0 - 8.0 */
    -moz-animation-name: article;
    -moz-animation-duration: 2s;
    animation-name: article;
    animation-duration: 2s;    
}

@-webkit-keyframes article {
    from {right: -200px; opacity: 0;}
    to {right: 0; opacity: 1;}
}

@keyframes article {
    from {right: -200px; opacity: 0;}
    to {right: 0; opacity: 1;}
}

/* Style the footer */
footer {
    position: relative;
    background-color: DodgerBlue;
    padding: 10px;
    text-align: center;
    color: white;
    padding-left: 10px;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
}

button {
  font-size: 20px;
  border: none;
  border-radius: 2px;
  background-color: DodgerBlue;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    background-color: #555555;
    color: white;
}

.text{
  display: none;
}

.img-circle {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px;
  -webkit-animation-name: img-circle;  /* Safari 4.0 - 8.0 */
  -moz-animation-name: img-circle;
  -webkit-animation-duration: 2s;  /* Safari 4.0 - 8.0 */
  -moz-animation-duration: 2s;
  animation-name: img-circle;
  animation-duration: 2s;    
}

@-webkit-keyframes img-circle {
    from {left: -200px; opacity: 0;}
    to {left: 0; opacity: 1;}
}

@keyframes img-circle {
    from {left: -200px; opacity: 0;}
    to {left: 0; opacity: 1;}
}

.img-circle img {
  height: auto; 
  width: auto; 
  max-width: 400px; 
  min-height: 200px;
  margin-left: -85px;
}

.text {
  color: black;
  font-size: 16px;
  padding: 0 0;
}

/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.wrap {
   width:600px;
   margin:0 auto;
}

.left {
  display: inline-block;
  width: 25%;
}

.right {
  display: inline-block;
  width: 75%;
}

.paper {
  border-style: dashed;
  padding: 1px;
  font-size: 12px;
  background-color: transparent;
  border-width: 1px;
  color: white;
}

.paper:hover {
    background-color: white; /* Green */
    opacity: 50%;
    color: DodgerBlue;
}